<div class="main-dev" (click)="onPageClick()">

  <!-- <div class="snow-1" (click)="onSnowFlakeClick()"></div>
  <div class="snow-1" (click)="onSnowFlakeClick()"></div>
  <div class="snow-2" (click)="onSnowFlakeClick()"></div>
  <div class="snow-2" (click)="onSnowFlakeClick()"></div>
  <div class="snow-3" (click)="onSnowFlakeClick()"></div>
  <div class="snow-3" (click)="onSnowFlakeClick()"></div>
  <div class="snow-4" (click)="onSnowFlakeClick()"></div>
  <div class="snow-4" (click)="onSnowFlakeClick()"></div>
  <div class="snow-5" (click)="onSnowFlakeClick()"></div>
  <div class="snow-5" (click)="onSnowFlakeClick()"></div>
  <div class="snow-6" (click)="onSnowFlakeClick()"></div>
  <div class="snow-6" (click)="onSnowFlakeClick()"></div>
  <div class="snow-7" (click)="onSnowFlakeClick()"></div>
  <div class="snow-7" (click)="onSnowFlakeClick()"></div>
  <div class="snow-8" (click)="onSnowFlakeClick()"></div>
  <div class="snow-8" (click)="onSnowFlakeClick()"></div> -->




  <!-- <div class="snow-bear" (click)="onSnowFlakeClick()"></div>
  <div class="snow-bear" (click)="onSnowFlakeClick()"></div>
  <div class="snow-bear" (click)="onSnowFlakeClick()"></div>
  <div class="snow-bear" (click)="onSnowFlakeClick()"></div> -->

  <div class="row first-row mt-5">
    <div class="col-12 col-xxl-7 first-pic-row">
      <div class="row mt-5 pt-5">
        <div class="col-9">
          <img src="/assets/pics/1.png" alt="We lost this pic">
        </div>
        <div class="col"></div>
      </div>
    </div>

    <div class="col-12 col-xxl-5 bg-warning d-flex">
      <!-- Left intentionally blank for white space -->
      <div class="bg-light align-self-center text-div">
        EVENT GALLERY
      </div>
    </div>
  </div>

  <div class="row first-row d-flex justify-content-center mt-5 pt-5">
    <div class="col-6 text-center">
      <img src="/assets/pics/2.png" alt="We lost this pic">
    </div>
  </div>

  <div class="row d-flex justify-content-center mt-5">
    <div class="col-3 text-center">
      <img *ngFor="let imageSource of get2dImageSourcesArray()[0]" [src]="'/assets/raw-pics/ ' + imageSource" [alt]="imageSource">
    </div>
    <div class="col-3 text-center">
      <img *ngFor="let imageSource of get2dImageSourcesArray()[1]" [src]="'/assets/raw-pics/ ' + imageSource" [alt]="imageSource">
    </div>
    <div class="col-3 text-center">
      <img *ngFor="let imageSource of get2dImageSourcesArray()[2]" [src]="'/assets/raw-pics/ ' + imageSource" [alt]="imageSource">
    </div>
  </div>

</div>