// .main-dev {
//     height: 100vh !important;
//     width: 100vw !important;
// }

img {
  width: 100%;
  height: auto;
}

// .col {
//   padding: 0 !important;
// }

// .second-image {
//   z-index: 500 !important;
//   margin-left: -20px !important;
// }

.first-pic-row {
  background-color: #f0edee !important;
}

.main-text-div {
  font-size: 5vw;
  font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
  letter-spacing: 0.09em;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}

.small-text-div {
  letter-spacing: 0.09em;
  text-transform: uppercase;
  font-family: roboto, sans-serif;
  color: #898ea2;
  padding-right: 13px !important;
}
