// .main-dev {
//     height: 100vh !important;
//     width: 100vw !important;
// }

img {
  width: 100%;
  height: auto;
}

// .col {
//   padding: 0 !important;
// }

// .second-image {
//   z-index: 500 !important;
//   margin-left: -20px !important;
// }

.first-pic-row {
  background-color: #f0edee !important;
}

.text-div {
  font-size: 6vw;
  font-family: 'Oswald', Helvetica, Arial, Lucida, sans-serif;
  letter-spacing: 0.05em;
  font-weight: 900;
  font-style: normal;
}