<div class="main-dev" (click)="onPageClick()">

  <div class="snow-1" (click)="onSnowFlakeClick()"></div>
  <div class="snow-1" (click)="onSnowFlakeClick()"></div>
  <div class="snow-2" (click)="onSnowFlakeClick()"></div>
  <div class="snow-2" (click)="onSnowFlakeClick()"></div>
  <div class="snow-3" (click)="onSnowFlakeClick()"></div>
  <div class="snow-3" (click)="onSnowFlakeClick()"></div>
  <div class="snow-4" (click)="onSnowFlakeClick()"></div>
  <div class="snow-4" (click)="onSnowFlakeClick()"></div>
  <div class="snow-5" (click)="onSnowFlakeClick()"></div>
  <div class="snow-5" (click)="onSnowFlakeClick()"></div>
  <div class="snow-6" (click)="onSnowFlakeClick()"></div>
  <div class="snow-6" (click)="onSnowFlakeClick()"></div>
  <div class="snow-7" (click)="onSnowFlakeClick()"></div>
  <div class="snow-7" (click)="onSnowFlakeClick()"></div>
  <div class="snow-8" (click)="onSnowFlakeClick()"></div>
  <div class="snow-8" (click)="onSnowFlakeClick()"></div>




  <!-- <div class="snow-bear" (click)="onSnowFlakeClick()"></div>
  <div class="snow-bear" (click)="onSnowFlakeClick()"></div>
  <div class="snow-bear" (click)="onSnowFlakeClick()"></div>
  <div class="snow-bear" (click)="onSnowFlakeClick()"></div> -->

  <div class="d-none d-xl-block mt-5">

  </div>

  <div class="row first-row">
    <div class="col-12 col-xl-7 first-pic-row">
      <div class="row mt-5 pt-5">
        <div class="col col-xl-9">
          <img src="/assets/main-pics/2.png" alt="We lost this pic">
        </div>
        <div class="d-none d-xl-block col"></div>
      </div>
    </div>

    <!-- BEGIN: This div is not visible on mobile-->
    <div class="col-12 col-xl-5 d-none d-xl-flex">
      <div class="align-self-center">
        <div class="main-text-div">
          feliz navidad
        </div>
        <div class="small-text-div d-flex justify-content-end">
          It means: Merry Christmas
        </div>
      </div>
    </div>
    <!-- END: This div is not visible on mobile-->

    <!-- BEGIN: This div is visible on mobile only-->
    <!-- <div class="col-flex d-xl-none">
      <div class="align-self-center">
        <div class="main-text-div text-center">
          feliz navidad
        </div>
        <div class="small-text-div text-center">
          It means: Merry Christmas
        </div>
      </div>
    </div> -->
    <!-- END: This div is visible on mobile only-->

  </div>

  <div class="row second-row d-flex justify-content-center mt-5 pt-5">
    <div class="col-9 col-xl-6 text-center">
      <img src="/assets/main-pics/1.png" alt="We lost this pic">
    </div>
  </div>

  <div class="row third-row d-flex justify-content-center mt-5 mb-5">
    <div class="col-9 col-xl-3 text-center">
      <img *ngFor="let imageSource of imageSources1" [src]="'/assets/gallery-pics/' + imageSource" [alt]="imageSource"
        class="mb-4">
    </div>
    <div class="col-9 col-xl-3 text-center">
      <img *ngFor="let imageSource of imageSources2" [src]="'/assets/gallery-pics/' + imageSource" [alt]="imageSource"
        class="mb-4">
    </div>
    <div class="col-9 col-xl-3 text-center">
      <img *ngFor="let imageSource of imageSources3" [src]="'/assets/gallery-pics/' + imageSource" [alt]="imageSource"
        class="mb-4">
    </div>
  </div>

</div>